# Backend
# dependencies
backend/node_modules
backend/.pnp
.pnp.js
node_modules/
yarn.lock

# testing
backend/coverage

# next.js
/.next/
backend/out/

# production
backend/build

# misc
.DS_Store
*.pem

# debug
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/yarn.lock

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

## Frontend
# dependencies
client/node_modules/
client/.pnp
client/.pnp.js

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/yarn.lock

# local env files
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# vercel
client/.vercel
